* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.gif binary
*.ico binary

/.github export-ignore
/AGENTS.md export-ignore
